{% extends 'base.html' %}
{% load static%}
{% block 'content' %}
    <div class="container">
        <div id="tweet-list">
            {%for message in object_list%}
                <div class="tweet">
                    <span class="user">{{message.user}}</span>
                    <span class="timestamp">{{message.date}}</span>
                    <div class="content">
                        {{message.message}}
                    </div>
                    {% if message.image %}
                        <img src="{% static message.image %}" style="max-width: 100%;">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
            
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea id="your_message" placeholder="Enter your message" style="width:100%"></textarea>
            <input type="file" id="your_image" accept="image/*">
            <button type="submit" id="submitMessage">Submit</button>
        </form>
    </div>
{% endblock %}